# --- Core Frameworks ---
Django>=6.0.5
gunicorn
whitenoise
python-dotenv
psycopg2-binary

# --- AI & Generative Services ---
openai>=2.38.0
google-generativeai
google-api-python-client
google-api-core
proto-plus
protobuf>=4.25.8,<6.0.0
# Locking grpcio-status to a version that plays nicely with protobuf < 6.0.0
grpcio-status==1.75.1
grpcio>=1.75.0

# --- Others ---
django-allauth
django-widget-tweaks
PyJWT
requests
oauthlib
requests-oauthlib
razorpay
twilio
pillow
tqdm
sqlparse
