# --- Core Frameworks ---
Django>=6.0.5
gunicorn
whitenoise
python-dotenv
psycopg2-binary

# --- AI & Generative Services ---
# Pinning protobuf to a version that is accepted by both Google-GenAI and older grpcio
protobuf==5.29.3
google-generativeai
google-api-python-client
google-api-core
proto-plus
grpcio==1.75.0
grpcio-status==1.75.1

# --- Others ---
django-allauth
django-widget-tweaks
PyJWT
requests
oauthlib
requests-oauthlib
razorpay
twilio
pillow
tqdm
sqlparse
